Flask
Jinja2
MarkupSafe
Werkzeug
aiohttp
attrs
blinker
certifi
charset-normalizer
click
frozenlist
git+https://github.com/ssut/py-googletrans.git
h11
h2
httpcore
httpx
hyperframe
idna
itsdangerous
multidict
openai
propcache
requests
rfc3986
sniffio
gunicorn
app
tqdm
urllib3
yarl

